.row {
  display: flex;  
}  
.column {
  flex: 50%;
}
.imageDetail {
  Clip-path: inset(76px 44px 365px 44px);
}
.pokemonNameText{  
  color: #616161;
}
.center{
  display: flex;
  justify-content: center;
}
.end{
  display: flex;
  justify-content: flex-end;
}
.background-color-normal {  
  background-color: #a4acaf;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.sectionHeader{
  height: 64px;
  background: black;
}
.buttonSection{
  padding-left: 117px;
  padding-bottom: 20px;
  padding-top: 20px;
}